@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.background_nav{
    background: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.background{
    background: rgb(250, 250, 250);
}

.img_size{
    margin-top: 40px;
    height: 350px;
    weight: 30vh;
    border-radius: 10px;
    margin-bottom: 40px;
}

.img_icon{
    margin-left: 5px;
    margin-right: 15px;
}

.title{
    margin-top: 150px;
    color: #630021;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    line-height: 1em;
}

.subtitle{
    color:#ffc82e;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 150px;
}