@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.background {
  background: rgb(250, 250, 250);
}

.block {
  height: 100px;
  background: #ffc82e;
}

.block2 {
  height: 100px;
  background: #630021;
}

.titleOne {
  font-size: 30px;
  color: white;
  line-height: 1.1em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.titleTwo {
  font-size: 50px;
  color: #630021;
  line-height: 1.1em;
  font-weight: bold;
  font-family: "Cookie", cursive;
  margin-right: 120px !important;
}

.title3{
  font-size: 50px;
  color: #ffc82e;
  line-height: 1.1em;
  font-weight: bold;
  font-family: "Cookie", cursive;
}

.container {
  background: white;
  width: 100%;
  height: 520px;
}

.content {
  background: rgb(250, 250, 250);
  width: 60%;
  height: 490px;
  border-radius: 20px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  margin: auto;
}

.title1 {
  font-size: 35px;
  color: #630021;
  font-family: "Poppins", sans-serif;
}

.titleLabel{
  font-size: 13px;
  color: #630021;
  font-family: "Poppins", sans-serif;
}

.title2 {
  font-size: 20px;
  color: #ffc82e;
  font-family: "Poppins", sans-serif;
}


.subtitle1 {
  font-size: 15px;
  color: black;
  font-family: "Poppins", sans-serif;
}

.logo{
  height: 80px;
  margin-left: 140px;
}

.btn {
  color: #630021;
  background: #ffc82e;
  margin-left: 190px !important;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
}


@media screen and (min-width: 1536px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
